/*styling.css*/
/*add font family, background image*/
:root {
  --backgroundColor: #16263f;
  --textColorPrimary: #eaedf5;
  --textColorSecondary: #be3b55;
}

.inputField[aria-expanded="false"],
.btn-Map[aria-expanded="false"] {
  display: none;
}
#Contact .contactForm .map {
  border-radius: 0 20px 20px 0;
  width: 50%;
  position: relative;
}
#googleMap {
  width: 100%;
  height: 100%;
  border-radius: 0 20px 20px 0;
}
.btn-Map-Toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
  width: 15px;
  aspect-ratio: 1/1;
  background: url(./mapIconBtn/icon-hamburger.svg);
  background-position: center;
  background-size: cover;
  border: none;
  cursor: pointer;
  transition: background 0.5s linear;
}
.btn-Map-Toggle[aria-expanded="true"] {
  top: 15px;
  background-image: url(./mapIconBtn/icon-close.svg);
}
.mapTextInfo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 190px;
  height: 25px;
  position: absolute;
  top: 10%;
  left: 2%;
  background-color: var(--backgroundColor);
  border-radius: 20px;
  box-shadow: 1px 2px 3px 3px #333;
}
.mapTextInfo[aria-expanded="true"] {
  flex-direction: column;
  top: 10%;
  left: 2%;
  gap: 5px;
  width: fit-content;
  padding: 8px;
  height: 120px;
  overflow: auto;
}
.mapTextInfo input {
  font-size: 12px;
  width: 160px;
}
.mapTextInfo h2 {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  font-size: 13px;
  color: var(--textColorPrimary);
}
.mapTextInfo h2[aria-expanded="false"] {
  display: none;
}
.btn-Map {
  width: 100%;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    var(--textColorPrimary) 0,
    var(--textColorSecondary) 100%
  );
  color: var(--textColorPrimary);
  font-weight: 900;
  font-size: 20px;
}
.output {
  position: absolute;
  bottom: 20px;
  left: 5%;
  padding: 10px;
  color: var(--textColorPrimary);
  background-color: var(--backgroundColor);
  border-radius: 20px;
  box-shadow: 1px 2px 3px 3px #333;
  transition: all 0.6s linear;
}
.mapTextInfo,
.output {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
.mapTextInfo:hover,
.output:hover {
  opacity: 0.9;
}
.fa-map-marker-alt,
.fa-dot-circle {
  color: #5bc0de;
}
@media (min-width: 200px) and (max-width: 768px) {
  #Contact .contactForm .map,
  #googleMap {
    width: 100%;
    height: 100%;
    border-radius: 0 0 20px 20px;
    background-color: yellow;
  }
  #mapDistanceTitle {
    font-size: 10px;
  }
  .mapTextInfo {
    gap: 5px;
    padding: 2px 8px;
    top: 30%;
    left: 3%;
  }
  .btn-Map {
    font-size: 15px;
  }
  .mapTextInfo input {
    font-size: 8px;
    width: 80px;
  }
  .output {
    font-size: 10px;
    padding: 5px;
  }
  .mapTextInfo[aria-expanded="true"] {
    flex-direction: column;
    top: 20%;
    gap: 5px;
    width: 140px;
    height: 80px;
  }
  .btn-Map-Toggle[aria-expanded="true"] {
    width: 15px;
    top: 20px;
    right: 2px;
  }
}
